body{
  font: 62.5% "Trebuchet MS",sans-serif;
  margin: 10px;
}
.bar {
  width: 600px;
  background: white;
  display: block;
}
.fill {
  float: left;
}
.harview {
  font-size: 12px;
}
.normal {
  background: white;
}
.redirect {
  background: #FFFC86;
}
.error {
  background: #FF9786;
}

.response_200 {
}

.response_301 {
  background: #FFFC86;
}

.response_302 {
  background: #FFFC86;
}

.response_404 {
  background: #FF9786;
}

.response_403 {
  background: #FF9786;
}

.http_headers {
  font-size: 8px;  
}

.cache_servers {
  font-size: 8px;  
}

.number {
  text-align: right;  
}

.x-cache-HIT {
  background: lightgreen;
}
.x-cache-MISS {
  background: orange;
}