body{
  font: 62.5% "Trebuchet MS",sans-serif;
  margin: 10px;
}
.bar {
  width: 600px;
  background: white;
  display: block;
}

.curl_bar {
  background: white;
  display: block;
}

.compressed_yes, .compressed_no, .compressed_none {
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 5px;
}
.compressed_yes {
  background-color: green;
}
.compressed_no {
  font-weight: 900;
  background-color: red;
}
.compressed_none {
  background-color: blue;
}
.http2 {
  background-color: orange;
}

.http3 {
  background-color: lightcoral;
}

.websockets {
  background-color: lightblue;
}

.time_legend {
  text-align: center;
  color: white;
}

.dns_time {
  background: #1F7C83;
}

.conn_time {
  background: #E58226;
}

.ssl_conn_time {
  background: #C141CD;
}

.request_time {
  background: #FF9786;
}

.time_to_first_byte {
  background: #1FE11F;
}

.transfer_time {
  background: #1977DD;
}

#banner {
  background: lightyellow;
  text-align: center;
  font-size: 16px;
  border: 1px solid #000;
}

.vendor_img {
  height: 15;
}

.fill {
  float: left;
}
.harview {
  font-size: 12px;
}
.normal {
  background: white;
}
.redirect {
  background: #FFFC86;
}
.error {
  background: #FF9786;
}

.response_101 {
  background: #BDF0EB;
}

.response_200 {
}

.response_301 {
  background: #FFFC86;
}

.response_302 {
  background: #FFFC86;
}

.response_404 {
  background: #FF9786;
}

.response_403 {
  background: #FF9786;
}

.http_headers {
  font-size: 8px;  
}

.cache_servers {
  font-size: 8px;  
}

.number {
  text-align: right;  
}

.x-cache-HIT {
  background: lightgreen;
}
.x-cache-MISS {
  background: orange;
}

.yes-gzip {
  background: lightgreen;
}
.no-gzip {
  background: orange;
}

.ssl-cert-invalid {
  background: #FFF5EE;
}

table.tablesorter {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th {
	background-color: #dddddd;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter tfoot tr th {
	background-color: #dddddd;
	border: 1px solid #FFF;
	font-size: 11pt;
	padding: 4px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
